*{
    margin: 0px;
    padding: 0px;
    font-family: 'Jost', sans-serif;
}





#pesquisa{
    width: 60vw;
    height: 5vh;
    border-radius: 0.5rem;
    text-align: center;
}
#Funcionarios{
    width: 85vw;
    display: flex;
    flex-direction: column;
    overflow: scroll;
}
.Botao-add-fun{
    padding: 0 .5rem;
    border-radius: 1rem;
    background-color: #616161;
    border: 2px solid black;
    cursor: pointer;
    color: #fff;
}
.Botao-add-fun:hover{
    background-color: #8F65B9;
    color: #000;
}

.Botao-Visu{
    cursor: pointer;
    background-color: white;
    padding: 1rem;
    border-radius: 0.6rem;
    width: 9rem;
}

